// Custom Styles

.navbar {
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(10px);
}

section  {
  background-size: cover;
}

@media (max-width: 767.98px) { 
  .pledge-donate, .pledge-share {
    background-image: none !important;
  }  
}

@media (min-width: 768px) { 
  .form-column {
    height: 0;
  }
}

.progress {
  height: 1.3rem;
}

.donate-card, .share-card {
  min-width: 400px;
}

.donate-card {
  max-width: 700px;
}

.steps {
  display: flex;
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2000;
  opacity: 0;
  transition: opacity .8s;
  &.show {
    opacity: 1;
  }
}

.step-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
}

.step-icon {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--bs-primary);
  background-color: #eb5d2e1e;
  background-color: color-mix(in srgb, var(--bs-primary) 15%,transparent);
  &.step-icon-psuedo::before {
    content: "";
    background-color: var(--bs-primary);
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
  }
}

.step-label {
  font-weight: 500;
  font-size: 0.825rem;
}

.text-transition {
  transition: color .4s;
}

.btn-social {
  color: #ffffff;
  font-weight: 500;
  &:hover {
    color: #ffffff;
  }  
  svg {
    max-height: 18px;
    margin-right: 10px;
  }
}

.btn-fb {
  background: #3B5998;
  &:hover  {
    background: darken(#3B5998, 10%);
  }
}

.btn-tw {
  background: #1d1d1d;
  &:hover  {
    background: lighten(#1d1d1d, 10%);
  }
}

.btn-wa {
  background: #07c14b;
  &:hover  {
    background: darken(#07c14b, 10%);
  }
}